#contact{
    width: 95%;
    max-width: 97%; 
    margin: auto;
    display: flex;
    flex-direction: column; 
   margin-top: 4%;
   
}

#contact-con{
    background-color: white;
    border-color: black;
    display: flex;
    /*justify-content: space-between; */
    width: 100%; 
    /*text-align: center;*/
    
}

#contact h2{
    text-align: center;
}

#con-form{
    width: 100%;
    margin-top:auto;
    margin-left: 7%;
    margin-bottom: auto;
    text-align: center;
    margin-top: 3%;
}

#con-details{
    width: 100%;
    margin-top:auto;
    margin-left: 7%;
    margin-bottom: auto;
}

#contactMeButton{
    background-color: black;
    color: white;
    width: 50%;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.form-control{
    border-color: black;
}

#contactName, #contactEmail{
    height: 2%;
}

